local.properties
*.iml

.DS_Store
.atom/
.idea
.packages
.dart_tool/
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
Configure

android/.classpath
android/.project
android/.settings/
example/android/.project
example/android/.settings/
example/android/app/.classpath
example/android/app/.project
example/android/app/.settings/